{{!-- <div class="row prod">
    <div class="col-md-2 prod">{{data.product}}</div>
    <div class="col-md-2 prod">{{data.orderDate}}</div>
    <div class="col-md-2 prod">{{data.orderNumber}}</div>
    <div class="col-md-2 prod">{{data.amount}}</div>
    <div class="col-md-2 prod">{{data.customerName}}</div>
</div> --}}

<tr>
    <td>{{data.product}}</td>
	<td>{{data.orderDate}}</td>
	<td>{{data.orderNumber}}</td>
	<td>{{data.amount}}</td>
	<td>{{data.customerName}}</td>
</tr>